<div class="container">
  <div class="row">
    <div class="large-12 large-text-center columns">
      <div class="panel">
        <h1>ViewSound</h1>
        <div class="color-square-wrap" ng-repeat="sound in sounds">
          <div class="color-square" style="background-color:{{ sound.backgroundColor }}"></div>
        </div>
        <button type="button" name="button" ng-click="nextPic()">NEXT</button>
        <img ng-src="{{ hash }}" alt="Beautiful instagram image" />
      </div>
    </div>
  </div>
</div>
